body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pomodoro-panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 820px;
  height: 200px;
  background-color: lightcoral;
}

.pomodoro-time {
  display: flex;
  align-content: center;
  font-size: 4.5em;
}

.pomodoro-header {
  align-self: flex-start;
  padding: 4px 0 0 4px;
}

.pomodoro-button {
  width: 180px;
  margin: 10px;
}

.planlist-panel {
  display: flex;
  width: 820px;
  height: 200px;
  padding-top: 20px;
}